<%- include("includes/head.ejs" , {title : "All Posts"} ) %>
<body>
    <!-- this will show all the Posts -->
    <div>
        <h1 style="color: brown;">Quora Posts</h1>
        <form action="/posts/new">
            <button type="submit">create a new post</button>
        </form>
    </div>

    <div class="posts">
        <% for(post of posts){ %>
            <!-- show the post -->
            <div class="post">
                <h1 class="user"><%= post.username %></h1>
                <h3 class="content"> <%= post.content %> </h3>

                <form action="/posts/<%= post.id %>?_method=delete" method="post">
                    <button>Delete</button>
                </form>

                <form action="/posts/edit/<%= post.id %>" method="get">
                    <button>Edit</button>
                </form>


                <form action="/posts/<%= post.id %>" method="get">
                    <button>See Individual</button>
                </form>
            </div>
        <% } %>
    </div>
    
</body>
</html>

